.top-footer {
  background-color: $topFooter;
  min-height: 160px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row wrap;
    min-height: 160px;
    .footer-contact {
      display: flex;
      align-items: center;
      min-height: 160px;
      justify-content: space-between;
      align-content: center;
      flex-flow: row wrap;
      p {
        padding-left: 30px;
      }
    }
    .footer-detail {
      display: block;
      border-right: 1px solid $footerBackground;
      p {
        padding-right: 120px;
      }
    }
    .footer-favicon {
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background-color: $footerBackground;
    }
    i {
      position: relative;
      top: calc(50% - 8.5px);
      left: 23px;
    }
  }
  .footer-fav {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid $bottomFooter;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    .fa {
      margin-top: 15px;
    }
  }
}
.lower-footer {
  background-color: $bottomFooter;
  min-height: 350px;
  img {
    display: block;
    margin: 0 auto;
    padding: 50px 0px;
  }
  .footer__nav ul {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    flex-flow: row wrap; 
    justify-content: space-between;
    padding: 5px;
    li {
      list-style-type: none;
      margin: 0 auto;
      padding: 10px;
    }
    a:hover {
      color: $pink;
    }
  }
  p {
    padding-top: 35px;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .top-footer .wrapper {
    margin: 0 auto;
    .footer-contact {
      margin: 0 auto;
      padding-left: 0px;
      min-height: 0px;
    }
    .footer-detail {
      border-right: 1px solid transparent;
      p {
        padding-right: 0px;
      }
    }
  }
  .lower-footer .footer__nav ul {
    max-width: 100%;
    li a {
      margin-right: 10px;
    }    
  }
}
@media (max-width: 480px) {
  .top-footer .wrapper {
    text-align: left;
    .footer-contact {
      text-align: left;
      margin-left: 15px;
    }
  }
}