.newsletter-signup {
  background: url(../images/pattern-4.png);
  text-align: center;
  margin-top: 80px;
  form {
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    label {
      display: none;
    }
    input {
      background: $white;
      width: 621px;
      height: 48px;
      border: 1px solid $white;
      display: block;
    }
    input::placeholder {
      @include fontSize(14);
      color: #999999;
      font-family: 'Poppins', sans-serif;
      line-height: 28px;
      font-weight: 400;
      padding-left: 30px;
    }
    button {
      height: 48px;
      display: block;
    }
  }
}
@media (max-width: 1024px) {
  .newsletter-signup {
    input {
      max-width: 350px;
    }
    form {
      padding-bottom: 30px;
    }
  }
}
@media (max-width: 768px) {
  .newsletter-signup form {
    padding-bottom: 30px;
    input {
      max-width: 300px;
    }
    button,
    input {
      margin-top: 20px;
    }
  }
}