.pricing {
  background: url(../images/pricing-image.png) no-repeat top, linear-gradient(180deg, $white 50%, $white 50%);
  h2 {
    padding-top: 130px;
  }
  .pricing__container {
    display: flex;
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.04);
    max-width: 1170px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 100px;
    flex-flow: row wrap;
    padding-top: 20px;
    background-color: $white;
    .pricing__individual {
      border-style: solid;
      border-width: 1px;
      border-color: $backgroundLight;
      box-sizing: border-box;
      background-color: $backgroundTimer;
      width: 348px;
      height: 568px;
      margin-bottom: 25px;
      transition: all 0.5s;
      position: relative;
      overflow: hidden;
      h5 {
        margin-top: 50px;
        margin-bottom: 5px;
      }
      p {
        margin-top: 5px;
        margin-bottom: 35px;
      }
      li {
        border-top: 1px dashed $backgroundLight;
        line-height: 54px;
      }
      .pricing-tag {
        margin: 0 auto;
        display: block;
        max-width: 175px;
      }
    }
    .pricing__best--offer {
      height: 50px; 
      width: 150px;
      position: absolute;
      left: 237px;
      background: $purple;
      top: 10px;
      border: 1px solid $purple;
      transform: rotate(45deg);
      p {
        color: $white;
        padding-top: 10px;
      }
    }
    .pricing__individual:hover {
      border-color: $pink;
      box-shadow: 2px 4px 16px 0px rgba( 0, 0, 0, 0.04);
      transform: scale(1.02);
    }
    .pricing__best {
      position: relative;
    }
  }
}

@media (max-width: 1024px) {
  .pricing .pricing__container {
    background-color: transparent;
    margin: 0 auto 30px;
    .pricing__individual {
      height: 450px;
      li {
        line-height: 40px;
      }
      h5 {
        margin-top: 25px;
      }
    }
  }
}
@media (max-width: 480px) {
  .pricing .pricing__container {
    .pricing__individual {
      max-width: 300px;
    }
  .pricing__best {
    .pricing__best--offer {
      left: 189px;
      }
    }
  }
}