html {
  font-size: 62.5%;
}
.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}
a.skip:active, 
a.skip:focus, 
a.skip:hover {
  left: 0; 
  top: 0;
  width: auto; 
  height: auto; 
  overflow: visible; 
}
h1 {
  font-family: 'Raleway', sans-serif;
  color: $white;
  font-weight: 800;
  line-height: 26px;
  text-align: center;
  @include fontSize(44);
}
p {
  color: $grey;
  font-family: 'Poppins', sans-serif;
  @include fontSize(14);
  line-height: 26px;
  font-weight: 400px;
}
a {
  font-family: 'Poppins', sans-serif;
  @include fontSize(15);
  font-weight: 600;
  text-decoration: none;
  color: $white;
}
.group__individual a {
  color: $pink;
  @include fontSize(16);
  font-style: italic;
  line-height: 26px;
  text-align: left;
}
.text__uppercase {
  text-transform: uppercase;
}
header h2 {
  font-family: 'Poppins', sans-serif;
  color: $white;
  @include fontSize(22);
  font-style: italic;
  line-height: 26px;
  text-align: left;
  padding-top: 0px;
}
h2 {
  font-family: 'Raleway', sans-serif;
  color: $fontBlack;
  @include fontSize(36);
  font-weight: 800;
  padding-top: 100px;
  text-align: center;
}
.join__lisbon h2,
.join__lisbon p,
.pricing h2,
.pricing h3 {
  color: $white;
}
h3 {
  font-family: 'Poppins', sans-serif;
  color: $grey;
  @include fontSize(17);
  font-style: italic;
  line-height: 26px;
  text-align: center;
}
.decoration::after {
  display: block;
  content: "";
  width: 63px;
  border-bottom: 1px solid $pink;
  margin: 0 auto;
  padding-top: 30px;
}
h4 {
  font-family: 'Raleway', sans-serif;
  color: $fontBlack;
  @include fontSize(26);
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  margin-top: 10px;
}
.countdown-timer h4 {
  font-family: 'Raleway', sans-serif;
  color: $fontBlack;
  @include fontSize(26);
  font-weight: 700;
  line-height: 33px;
  text-align: left;
}
h5 {
  font-family: 'Raleway', sans-serif;
  color: $fontBlack;
  @include fontSize(16);
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.pricing h5 {
  @include fontSize(20);
  font-weight: 500;
  text-align: center;
}
h6 {
  font-family: 'Raleway', sans-serif;
  color: $fontBlack;
  @include fontSize(22);
  font-weight: 600px;
  line-height: 26px;
  text-align: left;
}
.countdown-timer p,
.pricing p {
  font-family: 'Poppins', sans-serif;
  @include fontSize(14);
  font-weight: 500;
  line-height: 26px;
}
.countdown-timer p {
  text-align: left;
}
.pricing p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: $grey;
  @include fontSize(14);
  font-weight: 300;
  line-height: 26px;
}
.pricing-after::after {
  width: 30px;
  content: "";
  border-bottom: 1px solid $fontBlack;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
}
.pricing strong {
  font-family: 'Poppins', sans-serif;
  color: $fontBlack;
  @include fontSize(36);
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.pricing ul {
  font-family: 'Open Sans', sans-serif;
  color: $grey;  
  @include fontSize(15);
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  list-style-type: none;
  padding: 0px;
}
.countdown-timer__timer--time span {
  color: $white;
  @include fontSize(20);
  font-weight: 600;
  text-align: center;
}
.speaker-name {
  font-family: 'Raleway', sans-serif;
  color: $fontBlack;
  @include fontSize(16);
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}
.speaker-title {
  font-family: 'Poppins', sans-serif;
  color: $grey;
  @include fontSize(13);
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.schedule-aside strong {
  font-family: 'Poppins', sans-serif;
  color: $fontBlack;
  @include fontSize(18);
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
.schedule--image strong {
  font-family: 'Poppins', sans-serif;
  color: $lightgrey;
  @include fontSize(13);
  font-weight: 400;
  line-height: 24px;
}
.schedule-title {
  font-family: 'Raleway', sans-serif;
  color: $fontBlack;
  @include fontSize(14);
  font-weight: 500;
  line-height: 28px;
}
.schedule-title span {
  color: $grey;
  padding-left: 20px;
}
.schedule-people strong {
  font-family: 'Raleway', sans-serif;
  color: $fontBlack;
  @include fontSize(18);
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.button {
  padding: 10px 40px;
  border-radius: 5px;
  color: $white;
}
.button__primary {
  background-color: $pink;
}
.button__secondary {
  background-color: $purple;
}
.button:hover {
  color: $fontBlack;
}
blockquote {
  color: #bfb9f6;
  @include fontSize(17);
  line-height: 28px;
  font-family: 'Poppins', sans-serif;
  strong {
    font-family: 'Raleway', sans-serif;
    @include fontSize(30);
    color: $backgroundTimer;
    font-weight: 700;
    line-height: 46px;
    font-style: normal;
  }
}
.news-container-decoration::before {
  content: "";
  display: block;
  width: 63px;
  border: 1px solid  #e0e0e0;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  header {
    h1 {
      @include fontSize(33); 
    }
    h2 {
      @include fontSize(15);
    } 
  }
  .countdown-timer h4,
  .countdown-timer .countdown--space {
    text-align: center;
  }
}
@media (max-width: 768px) {
  h2 {
    padding-top: 20px;
    margin: 20px;
  }
  .pricing .wrapper h2 {
    margin-top: 20px;
    padding-top: 40px;
  }
  .quote blockquote strong {
    @include fontSize(25);
  }
}
@media (max-width: 320px) {
  header {
    h1 {
      @include fontSize(25); 
    }   
  }
}